nav, aside {
margin: 0 12px 0 12px;
}

div, section, h2, h3, button {
margin-bottom: 20px;
}

h1 {
font-size: 30px;
}

h2 {
font-size: 20px;
}

.header {
grid-area: header;
background-color: #aaa;
text-align: center;
height: 60px;
}

.content-area {
grid-area: content-area;
}

.nav {
grid-area: nav;
}

.side {
grid-area: side;
color: #000;
}

.footer {
grid-area: footer;
background-color: #aaa;
height: 60px;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "header"
    "nav"
    "side"
    "content-area"
    "footer";
}

.tag-editor > a {
  text-decoration: none;
  color: #000;
}

button {
  background-color: #aaa;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

button:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.interest-add-btn {
  display: block;
}

input {
width: 250px;
padding: 12px 0 12px 4px;
margin: 8px 0;
font-size: 16px;
display: block;
}

.dm-thumbnail {
  height: 180px;
  width: 320px;
}

@media (min-width: 700px) {

  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header  header"
      "nav     nav"
      "side content-area"
      "footer footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }

  .thumb-container {
    display: inline-block;
    height: 240px;
    width: 320px;
    overflow-wrap: break-word;
  }

}