html{
    margin: 10px;
}

header {
    height: 160px;
}

footer {
    height: 160px;
    border-top: 1px solid;
}

ul{
    list-style: none;
    display: inline-flex;
    font-size: 20px;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    margin-left: 40%;
}

input {
    min-height: 10%;
    /* margin-top: 10%; */
    margin-left: 40%;
    font-size:14pt;
    height:40px;
    width:400px;
}

button { 
    margin-top: 1%;
    margin-left: 47%;
    margin-bottom: 1%;
    display: inline-block;
    
}

.sign-up {
    text-align: center;
    font-weight:510;
}

.nav-button {
    float: right;
    background-color: black;
    -webkit-text-fill-color: white;
    margin-top: 0%;
    font-size: 10px;
    /* padding-top: 0px;
    letter-spacing: 1px; */
    /* margin-left: 47%; */
    /* margin-left: 100%; */
}

h3 {
    font-size: 20px;
}

