*,
*:before *:after {
  box-sizing: border-box;
}

nav {
  background: black;
  overflow: hidden;
  margin: 1px;
  float: right;
}

div .header {
  margin: 0px;
}
.header {
  float: left;
  color: white;
  padding: 0px;
  overflow: hidden;
  width: 100%;
  background-color: black;
}

.logo {
  height: 100px;
  font-size: 24px;
  line-height: 24px;
  padding: 15px;
}
.nav-h1 {
  height: 0px;
  font-size: 50px;
  line-height: 120px;
  padding: 0px;
  position: relative;
  right: -100px;
  color: white;
}

.toggle {
  float: right;
  color: white;
  border: 0;
  font-size: 50px;
  cursor: pointer;
  display: none;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

nav ul {
  float: right;
  overflow: hidden;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: max-height 0.5s;
}

.video-view {
  margin-left: 20%;
}

.video-container {
  margin-bottom: 40px;
}

.video-dmcontainer {
  margin-bottom: 40px;
}

li {
  height: 80px;
  padding: 20px;
  display: inline-block;
  margin: 1px;
}

li:hover {
  background-color: crimson;
}
.signin-section {
  margin: 10px;
}
@media (max-width: 760px) {
  .header {
    float: none;
    padding: 0px;
  }
  nav ul {
    background: black;
    max-height: 0;
    width: 100%;
    position: relative;
  }
  nav ul.show {
    max-height: 20em;
  }
  nav ul li {
    width: 100%;
    padding: 15px;
  }
  .toggle {
    display: inline-block;
    margin: 0px;
  }
}

/* tags section styles */
.tag {
  color: #3e6d8e;
  background-color: #e0eaf1;
  border-bottom: 1px solid #b3cee1;
  border-right: 1px solid #b3cee1;
  padding: 3px 4px 3px 4px;
  margin: 2px 2px 2px 0;
  text-decoration: none;
  font-size: 90%;
  line-height: 2.4;
  white-space: nowrap;
}

.tag-editor {
  border: 1px solid black;
}

.tag:hover {
  background-color: #c4dae9;
  border-bottom: 1px solid #c4dae9;
  border-right: 1px solid #c4dae9;
  text-decoration: none;
}

.cross {
  background-color: #cd5c5c;
  border-radius: 30px;
  padding: 2px;
}

.cross:hover {
  background-color: red;
}
