*, *:before *:after{
box-sizing: border-box
}

nav{
background: red;
overflow: hidden;
};

div .header{
  margin:0px;
}
.header {
float: left;
color: white;
padding: 15px;
overflow: hidden;
width: 80%;
}

.logo{
height: 100px;
font-size: 24px;
line-height: 24px;
padding: 15px;
}
.nav-h1{
  height: 0px;
  font-size: 50px;
  line-height: 120px;
  padding: 0px;
  position: relative;
  right: -100px;
}

.toggle{
float: right;
background: red;
color: black;
border:0;
font-size: 50px;
cursor: pointer;
display: none;
}

nav a {
text-decoration: none;
color: white;
font-size: 25px;
}

nav ul {
float: right;
overflow: hidden;
color: white;
margin: 0;
padding: 0;
text-align: center;
transition: max-height .5s;
}

li {
  height: 80px;
  padding: 20px;
  display:inline-block;

}

li:hover{
  background-color: crimson;
}

@media (max-width: 760px){
.header{
  float: none;
}
nav ul{
  background: black;
  max-height: 0;
  width: 100%;
}
nav ul.show{
  max-height: 20em;
}
nav ul li{
  width: 100%;
  padding: 15px;
}
.toggle{
  display: inline;
}
}